.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 40px;
}

.profileImage {
  width: 200px;
  height: 200px;
  /* border-radius: 50%; */
  margin-bottom: 20px;
}

ul {
  font-size: 30px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
